<div class="div-1">
	<h1 class="heading">Monitoraggio Mock</h1>



	<div class="tab">
		<button class="tablinks" (click)="openCity('RESOURCE_DOWNLOAD')">Risorse piu scaricate</button>
		<button class="tablinks" (click)="openCity('RESOURCE_VIEW')">Risorse piu visualizzate</button>
		<button class="tablinks" (click)="openCity('DATASET_VIEW')">Dataset piu visualizzati</button>
		<button class="tablinks" (click)="openCity('ORGANIZATION_VIEW')">Organizzazioni piu visualizzate</button>
		<button class="tablinks" (click)="openCity('PAGE_VIEW')">Pagine piu visualizzate</button>
	</div>

	<div id="RESOURCE_DOWNLOAD" class="tabcontent">

		<div *ngIf="loading">loading...</div>

		<div *ngIf="errorMessage" class="alert alert-warning">
			<strong>Warning!</strong> {{errorMessage | json}}
		</div>

		<table class="Table">
			<tbody>
				<tr *ngFor="let dato of monitoraggio;">
					<td>{{dato.descrizione}}</td>
					<td class="numero">{{dato.numero}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="RESOURCE_VIEW" class="tabcontent">

		<div *ngIf="loading">loading...</div>

		<div *ngIf="errorMessage" class="alert alert-warning">
			<strong>Warning!</strong> {{errorMessage | json}}
		</div>

		<table class="Table">
			<tbody>
				<tr *ngFor="let dato of monitoraggio;">
					<td>{{dato.descrizione}}</td>
					<td class="numero">{{dato.numero}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="DATASET_VIEW" class="tabcontent">

		<div *ngIf="loading">loading...</div>

		<div *ngIf="errorMessage" class="alert alert-warning">
			<strong>Warning!</strong> {{errorMessage | json}}
		</div>

		<table class="Table">
			<tbody>
				<tr *ngFor="let dato of monitoraggio;">
					<td>{{dato.descrizione}}</td>
					<td class="numero">{{dato.numero}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="ORGANIZATION_VIEW" class="tabcontent">

		<div *ngIf="loading">loading...</div>

		<div *ngIf="errorMessage" class="alert alert-warning">
			<strong>Warning!</strong> {{errorMessage | json}}
		</div>

		<table class="Table">
			<tbody>
				<tr *ngFor="let dato of monitoraggio;">
					<td>{{dato.descrizione}}</td>
					<td class="numero">{{dato.numero}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="PAGE_VIEW" class="tabcontent">

		<div *ngIf="loading">loading...</div>

		<div *ngIf="errorMessage" class="alert alert-warning">
			<strong>Warning!</strong> {{errorMessage | json}}
		</div>

		<table class="Table">
			<tbody>
				<tr *ngFor="let dato of monitoraggio;">
					<td>{{dato.descrizione}}</td>
					<td class="numero">{{dato.numero}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div style="display: block;">
	<canvas baseChart
			[datasets]="barChartData"
			[labels]="barChartLabels"
			[options]="barChartOptions"
			[plugins]="barChartPlugins"
			[legend]="barChartLegend"
			[chartType]="barChartType">
	</canvas>
</div>
